@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body  {
    font-family: Roboto;
}

entree {
    background-color: rgb(165, 98, 67);
    width:50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

entree > button {
    background-color: rgb(192, 255, 129);
    border-radius: 10%;
    border: none;
    padding: 1em;
    margin: 0.5em;
}


entree > button:hover {
    background-color: rgb(222, 252, 192);
    cursor: pointer;
    
}

input {
    padding: 1em;
    width: 60em;
}


th {
    background-color: #ffffff;
    height: 5em;
}

th:nth-child(2n) {
    background-color: #bebebe;
}

.afficher {
    display: table-row;
}
tr {
    display: none;
}
#Titre {
    display: table-row;
}
td {
    background-color: rgb(238, 89, 89);
    width: 5em;
    height: 5em;
}
td:nth-child(2n) {
    background-color: rgb(224, 59, 59);
}
table {
    width:50%;
    margin: auto;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    background-color: rgb(165, 98, 67);
}
td {
    text-align: center;
}